.language-selector-item {
  border: none;
  background-color: transparent;
  border-radius: 12px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  border: 1px solid transparent;
  margin-right: 8px;
  transition: background-color 300ms ease-in;
}

.language-selector-item:hover {
  background-color: var(--color-5);
}

.language-selector-item-active {
  background-color: var(--color-5);
  border-color: var(--color-6);
}

.language-selector-flag {
  width: 90%;
  height: 90%;
}

