.language-selector-wrapper {
  margin: 24px 0;
}

.sticky-note-grid {
  margin-top: 24px;
}

.app-wrapper {
  max-width: 560px;
  padding-top: 64px;
}

.main-title {
  font-weight: bold;
  color: var(--color-3);
  font-size: var(--font-size-2);
  margin-bottom: 12px;
}

.main-subtitle {
  font-size: var(--font-size-2);
  margin-bottom: 32px;
}

.common-title {
  color: var(--color-2);
  font-size: var(--font-size-3);
  font-weight: bold;
}

.app-mural-selector-container {
  margin: 24px 0;
}

.logo {
  width: 150px;
  margin-bottom: 4px;
}
