.common-title {
  color: #444;
  font-size: 18px;
  font-weight: 500;
}

.language-selector-wrapper {
  margin: 24px 0;
}

.StickyNoteGrid {
  margin-top: 24px;
}

.app-header {
  height: 52px;
  line-height: 52px;
  background: #444;
  padding: 0 16px;
  font-size: 24px;
  color: whitesmoke;
}

.app-content {
  padding: 16px;
}
