.StickyNoteCard {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  /* box-shadow: 0 0 4px lightgray; */
}

.StickyNoteCard-bold {
  font-weight: bold;
}

.StickyNoteCard-border {
  border: 3px solid black;
}

.StickyNoteCard-circle {
  border-radius: 50%;
}

.StickyNoteCard-italic {
  font-style: italic;
}

.StickyNoteCard-strike {
  text-decoration: line-through;
}

.StickyNoteCard-underline {
  text-decoration: underline;
}

.StickyNoteCard-strike.StickyNoteCard-underline {
  text-decoration: line-through underline;
}
